header {
  width: 100%;
  background-color: #070a40;
  border-bottom: 30px solid #08298c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav a {
  text-decoration: none;
  color: #fff;
}

.main-logo {
  width: 100%;
  height: auto;
  float: left;
  margin: 15px 0;
}

.main-nav {
  list-style: none;
  float: right;
  margin-top: 100px;
}

.main-nav li {
  display: inline;
  margin-left: 35px;
}

.main-nav li:last-of-type {
  margin-right: 20px;
}

.main-nav li a {
  /* padding: 10px 0; */
  margin: 10px 0;
  font-size: 115%;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

.main-nav li a:hover {
  border-bottom: 2px solid #f2b705;
}

#apply,
#apply:hover {
  border-bottom: none;
}

.rel {
  position: relative;
}

.menu {
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 900;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu ul li a {
  text-transform: uppercase;
  color: #070a40;
  font-weight: 400;
}

.menu-home {
  display: none;
  position: absolute;
  margin-left: 29.5%;
  margin-top: 11%;
  width: 18%;
  text-align: center;
}

.menu-home ul {
  border: 2px solid #070a40;
  list-style: none;
  line-height: 200%;
  text-align: center;
}

.menu-home ul li {
  margin: 10px 0;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #f2b705;
}

.menu-home ul li:last-of-type {
  margin: 10px 0 0 0;
  border-bottom: none;
}

.menu-about {
  display: none;
  position: absolute;
  margin-left: 41.5%;
  margin-top: 11%;
  width: 18%;
  text-align: center;
}

.menu-about ul {
  border: 2px solid #070a40;
  list-style: none;
  line-height: 200%;
  text-align: center;
}

.menu-about ul li {
  margin: 10px 0;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #f2b705;
}

.menu-about ul li:last-of-type {
  margin: 10px 0 0 0;
  border-bottom: none;
}

.menu-courses {
  display: none;
  position: relative;
  margin-left: 56%;
  margin-top: 11%;
  width: 18%;
  text-align: center;
  z-index: 900;
}

.menu-courses ul {
  border: 2px solid #070a40;
  list-style: none;
  line-height: 200%;
  text-align: center;
}

.menu-courses ul li {
  margin: 10px 0;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #f2b705;
}

.menu-courses ul li:last-of-type {
  margin: 10px 0 0 0;
  border-bottom: none;
}

.show {
  display: block;
}

.fa-bars {
  display: none;
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.3);
  float: right;

  /* position: fixed; */
  /* cursor: progress; */
  padding: 4%;
  margin-top: 5%;
}

.fa-bars:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

header:after {
  display: block;
  height: 8px;
  width: 100%;
  background-color: #f2b705;
  content: "";
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .main-logo {
    margin-left: 1%;
  }

  .main-nav {
    display: none;
  }

  .fa-bars {
    display: block;
  }
}
