.section-instructors:before {
  display: block;
  height: 2px;
  width: 35%;
  background-color: #f2b705;
  content: "";
  margin: 0 auto;
}

.section-instructors {
  height: 100vh;
  /* padding-top: 70px; */
  margin: 0 auto;
  width: 1140px;
  background-color: #fafafa;
  /* border: 1px solid red; */
}

.section-instructors h1 {
  font-size: 175%;
  text-transform: uppercase;
  margin: 100px auto 60px auto;
  text-align: center;
  letter-spacing: 6px;
}

.section-instructors .card {
  text-align: center;
  background-color: #fff;
}

.section-instructors .card a {
  text-decoration: none;
  color: #070a40;
}

.section-instructors .card img {
  height: 500px;
  width: auto;
  border-radius: 3px;
}

.section-instructors a p {
  padding-top: 25px;
  font-size: 120%;
  letter-spacing: 4px;
}
