.section-main {
  margin: 40px auto 100px auto;
  width: 1140px;
  background-color: #ffffff;
  height: 68vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../css/assets/images/section-main-right.jpg);
  /* Photo by NESA by Makers on Unsplash */
  background-size: cover;
  background-position: center;
  position: relative;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-main h1 {
  font-size: 200%;
  color: #fff;
  font-weight: 400;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 38%;
}

.section-main h1 + p {
  color: #fff;
  top: 68%;
  left: 43%;
  position: absolute;
}

/* TODO:  hide icon on initial scroll*/
.section-main i {
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 50%;
  top: 84%;
}
