.section-main {
  margin: 40px auto 100px auto;
  width: 80%;
  background-color: #ffffff;
  height: 68vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../css/assets/images/section-main-right.jpg);
  /* Photo by NESA by Makers on Unsplash */
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  resize: both;
  position: relative;
}

.section-main-content {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}

.section-main-content h1 {
  /* was abs */
  /* position: fixed; */

  font-size: 180%;
  color: #fff;
  font-weight: 400;

  margin-top: 15%;
  margin-left: 12%;
}

.section-main-content h1 + p {
  /* was abs */
  /* position: relative; */

  color: #fff;
  /* margin-left: 46%;
  margin-top: 31%; */
}

.section-main i {
  position: fixed;

  color: rgba(255, 255, 255, 0.4);
  top: 96%;
  left: 50%;
}

@media screen and (max-width: 900px) {
  .section-main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../css/assets/images/section-main-left.jpg);
  }
}

@media screen and (max-width: 480px) {
  .section-main {
    width: 96%;
    background-position: left;
    height: 58vh;
  }

  .section-main i {
    color: rgba(155, 155, 155, 0.9);
  }
}
