.section-main {
  margin: 40px auto 100px auto;
  width: 80%;
  background-color: #ffffff;
  height: 68vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../css/assets/images/section-main-right.jpg);
  /* Photo by NESA by Makers on Unsplash */
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  position: relative;
}

.section-main h1 {
  position: absolute;

  font-size: 180%;
  color: #fff;
  font-weight: 400;
  margin-top: 27%;
  margin-left: 12%;
}

.section-main h1 + p {
  position: absolute;

  color: #fff;
  margin-left: 46%;
  margin-top: 31%;
}

.section-main i {
  position: fixed;

  color: rgba(255, 255, 255, 0.4);
  top: 96%;
  left: 50%;
}

/* @media screen and (max-width: 1140px) {
  .section-main h1 {
    font-size: 150%;
    font-weight: 200;
    margin-top: 33%;
  }
  .section-main h1 + p {
    margin-left: 36%;
    margin-top: 36%;
  }
} */
