$main-font: "Roboto", sans-serif;
$logo-font: "Righteous", cursive;
$darkest-blue: #060340;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: $main-font;
  font-size: 20px;
  font-weight: 300;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}
