header {
  background-color: $darkest-blue;
  color: #fff;
  height: auto;

  a {
    color: #fff;
    text-decoration: none;

    img {
      float: left;
      height: 100px;
      width: auto;
      margin: 50px 25px;
    }
    p {
      display: none;
      font-family: $logo-font;
      font-size: 220%;
      margin-top: 78px;
      position: absolute;
      line-height: 78%;

      @media screen and (min-width: 750px) {
        display: inline;
      }
    }
  }

  .main-nav {
    list-style: none;
    // text-decoration: none;
    float: right;
    margin-top: 78px;

    li {
      display: inline-block;
      margin-left: 30px;

      a {
        text-decoration: none;
        color: #fff;
        transition: 0.2s;

        &:link,
        &:visited {
          padding: 8px 0;
          text-transform: uppercase;
          font-size: 90%;
        }
        &:hover,
        &:active {
          border-bottom: 2px orange solid;
        }
      }
    }

    @media screen and (min-width: 750px) {
      margin-top: 0;
      li {
        margin-left: 50px;
      }
    }
  }

  &:after {
    display: block;
    height: 8px;
    width: 100%;
    background-color: #ffdd8a;
    content: "";
    margin: 0 auto;
  }
}
